<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editcity?id={id}" method="post">
        <input type="text" placeholder="nhập tên thành phố mới" name="cityName">
        <input type="text" placeholder="nhập tên quốc gia mới" name="country">
        <input type="text" placeholder="nhập id quốc gia mới" name="country_id">
        <input type="text" placeholder="nhập diện tích mới" name="area">
        <input type="text" placeholder="nhập dân số mới" name="population">
        <input type="text" placeholder="nhập GDP mới" name="GDP">
        <input type="text" placeholder="nhập Giới thiệu mới" name="cityDescription">
        <button type="submit">
            OK  
        </button>
    </form>
</body>
</html>